
{minimum_otp_vsn, "21"}.

{erl_opts, [debug_info]}.

{deps, []}.

{plugins, [
    {rebar3_appup_plugin, "2.4.4"}
]}.

{relx, [{release, {test_script, "0.1.1"},
         [test_script,
          sasl]},

        {sys_config_src, "config/sys.config.src"},
        {vm_args_src, "config/vm.args.src"},

        {dev_mode, true},
        {include_erts, false},
        {system_libs, true},
        {include_src, false},
        {generate_start_script, true},
        {extended_start_script, true}
    ]
}.

{profiles, [{prod, [{relx, [
                {dev_mode, false},
                {include_erts, true}]}
            ]}
]}.
